* {
  box-sizing: border-box;
}
a {
  color: #4c76b1;
}
.profile-background {
    height: 355px;  
/*    padding-top: 50px;  If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background: url('http://40.media.tumblr.com/76c658a6b305e6ac2da3df65cacc7033/tumblr_o4keiiuGLC1ro57m2o1_1280.jpg') no-repeat center;
    background-size: cover;
}
.main-header {
  background-color: #222;
  color: #eee;
  font-family: 'Ubuntu', sans-serif;
}
.header-title {
  font-size: 3.5em;
}
.header-description {
  font-size: 2.5em;
}
.header-title, .header-description {
  text-shadow: 3px 3px 10px black;
}
.header-location {
  background-color: #333;
  padding: 15px;
  border-radius: 5px;
  color: #ffdb60;
  float: right;
  margin-right: 50px;
  box-shadow: 4px 4px 16px 5px rgba(0,0,0,.4)
}
.about-content, .portfolio-content, .contact-content {
  font-family: 'Ubuntu', sans-serif;
  padding: 25px 80px;
  color: #1a2e4a;
  font-size: 1.4em;
  line-height: 1.8em;
}
.about-content {
  background-color: #eee;
}
.about-content h2 {
  color: #888;
  text-align: center;
  margin-bottom: 35px;
}
.portfolio-content {
  background-color: #ffdb60;
  color: #4c4016;
}
.portfolio-content h2 {
  color: #af8b20;
  text-align: center;
  margin-bottom: 35px;
}
.portfolio-content .row {
  margin-bottom: 45px;
}
.portfolio-content div img {
  width: 45%;
  display: inline;
  vertical-align: top;
}
.portfolio-content div div {
  display: inline-block;
  width: 50%;
  padding-left: 25px;
}
.contact-content {
  background-color: #4c76b1;
  color: #121f32;
}
.contact-content h2 {
  color: #2c5691;
  text-align: center;
  margin-bottom: 35px;
}
.contact-row label {
  color: #0c3671;
  text-align: right;
  margin: 5px 10px;
}
.contact-info p {
  font-size: 1.1em;
  text-align: left;
  margin: 5px 10px;
  font-weight: bold;
}
.contact-row {
  display: flex;
}
.contact-row label {
  flex: 45;
}
.contact-info {
  flex: 55;
}
footer {
  background-color: #1a2e4a;
  font-family: 'Ubuntu', sans-serif;
  color: #eee;
  text-align: center;
  padding: 5px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0 25px;
}
footer ul li {
  font-size: 3em;
}
.social i {
  color: #eee;
  padding: 10px 20px;
  opacity: .4;
  transition: all .4s;
}
a.social i:hover {
  opacity: .8;
}
.copyright {
  font-size: 1.2em;
  margin-right: auto;
  align-self: center;
}

/*
Flexbox
*/

.main-header {
  display: flex;
  flex-direction: column;
}
.main-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
}
.nav-name {
  margin-right: auto;
}
.nav-link {
  margin-left: 25px;
}
footer ul {
  display: flex;
  justify-content: center;
}